/******************* VARIABLES **************************/


$primary-color: #ED2B91;

/*#488ad4;*/

$border-color: #e7e7e7;

$nav-bg-color: #f8f8f8;

/*
#A00D5B Purple
#F0DB44 Sandy brown
#ED2B91 Deep pink
#0FA7BA Light seagreen
#1591A0 Dark cyan
*/

/******************* MIXINS **************************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin circle($radiuspixel, $circlecolor, $contentcolor) {
	width: $radiuspixel;
    height: $radiuspixel;
    -moz-border-radius: $radiuspixel; 
    -webkit-border-radius: $radiuspixel;
    -ms-border-radius: $radiuspixel;
    border-radius: $radiuspixel;
    background: $circlecolor;
    color: $contentcolor !important;
    text-align: center;
}




body {
	/*font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; color: #444;
	-webkit-font-smoothing: antialiased;

}

.main-content {
	padding: 0;
}

.navbar-static-top {
	height: 75px;

	.container {
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $primary-color;
}

.navbar-default .navbar-toggle {
    border-color: $primary-color;
}


.navbar-brand {
	color: $primary-color !important;
	font-size: 36px;
    font-weight: 500;
    line-height: 20px;

}

.item-no {
	position: absolute;
	top: -13px;
	right: -30px;
	font-size: 11px;
	font-weight: normal;
	line-height: 21px;
	@include circle(20px, $primary-color, #fff);
}

#item-total {
	display: none;
}

.price-total {
	margin-right: -10px;
	margin-left: 35px;
}

.navbar-lower {
	border: 0;
	border-bottom: 1px solid $border-color;
	border-radius: 0;
	margin-top: -70px;
	font-size: 14px;

	#rg-navbar {
		padding-left: 15px;
	}

	.nav > li > a:first-child {
		padding-left: 15px;
	}

}


.sidebar-menu {

	.list-group-item {
		padding: 5px 15px;
	}

	.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	    z-index: 2;
	    color: #fff;
	    background-color: $primary-color;
	    border-color: $primary-color;
	}
}

.image-slider {
	padding-left: 0;
}

.slippry_box {
	z-index: -1;
}

.thumb-box {

	width: 103%;

	padding-bottom: 0;

	.thumbs {
	    list-style: none;
	    padding-left: 0;
	    margin-bottom: 0;
	}

	.thumbs li {
    	float: left;
	    width: 33%;
	    text-align: center;
	    padding: 0 1%;

	}
}

.product-info-wrapper {
	padding-left: 0;

}

.product-header {
	margin-top: 0;
}

.product-prices {
	padding-right: 0;
}

.product-price-box {
	padding: 20px 15px;
	border: 1px solid $border-color;
	@include border-radius(4px);

}


.product-price-new, .product-price-unit{
	display: inline-block;
	font-size: 27px; 
	font-weight: 700;
}

.product-price-old {
	display: block;
	position: relative;
	font-size: 13px;
}

.product-colour-list {
	padding-left: 0;

}

.product-desc {
	margin-bottom: 25px;
}

.inspiration-wrapper {
	margin-bottom: 35px;

}

.inspiration-box { 
	border: 1px solid $border-color;
	@include border-radius(5px);
	margin: 15px 0 0 0;
	padding: 0 15px 15px 15px;
	cursor: pointer;

}



.inspiration-box-1 { 
	background: url(../img/paper1.jpg) center center/cover no-repeat;

}




.inspiration-box-2 { 
	background: url(../img/paper2.jpg ) center center/cover no-repeat;

}

.inspiration-box-3 { 
	background: url(../img/paper3.jpg) center center/cover no-repeat;
}

#footer {

}

.footer-info {
	background-color: #252525;
	font-size: 13px;
	padding: 25px 0;
	line-height: 20px;
	color: #a0a0a0;

	h1 {
		color: $primary-color;
	}

	h4 {
		font-size: 16px;
	    color: #DDD;
	    margin-bottom: 20px;
	    letter-spacing: 1px;
	}
}

.bestseller-wrapper {
    padding: 10px 15px 0 15px;
}

.social-media-wrapper {
	padding: 10px 15px 0 15px;
}

.social-media-list {
	list-style: none;
	padding-left: 0;

	.fa {
		width: 20px;
		color: $primary-color;
		font-weight: 500;
	}

	p {
		display: inline-block;
		color: #a0a0a0;
		
	}

	a:hover, a:focus {
		text-decoration: none;
		
	}
}

.footer-copyright {
    background-color: #1c1c1c;
    padding-top: 22px;
    padding-bottom: 20px;

    p {
    	margin: 0;
    	font-size: 13px;
    	line-height: 26px;
    	color: #8C8989;
    }
}

.contact-info {
	text-align: center;
	font-size: 13px;
	line-height: 26px;
	color: #8C8989;
}

.author-name {
	color: #0fa7ba !important;
	display: inline-block;
	font-family: 'Pacifico', cursive;
}

.author-assignment {
	display: inline-block;
}

.author-email {
	text-align: center;

	.fa {
		color: #0fa7ba;
	}
}

/******************* BUTTONS *******************/
.btn-action {
	color: #fff;
	background-color: #ED2B91;
	border-color: #ED2B91;
	font-weight: 600;
}

.btn-action.focus, .btn-action:focus {
	color: #fff;
}

.btn-action:hover {
    color: #fff;
    background-color: #f672b8;    
    border-color: #f672b8;
}


.btn-cart {
	border: none;
	background: transparent;
	color: $primary-color;
}

.btn-toggle {
	margin-left: 15px;
}

.btn-buy {
	width: 80%;
}

.btn-read {
	margin: 10px 0;
	text-align: center;
}



/******************* MEDIA QUERIES *******************/

/* Extra small devices (phones, less than 768px) */
@media all and (max-width: 767px) {
	

	.navbar-brand {
		position: absolute;
	    width: 100%;
	    left: 0;
	    text-align: center;
	    margin:0px auto;
	    z-index: -1;
	    font-size: 1.5em;
	}


	.navbar-toggle {
		margin-left: 15px;
	}

	.cart-list {
		margin: auto;
	}


	.item-no {
		position: absolute;
    	top: -60px;
    	right: 0px;
    	font-size: 11px;
    	font-weight: normal;
    	line-height: 21px;
    	@include circle(20px, $primary-color, #fff);

	}

	.product-info-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}

	.product-price-box {
		margin-right: 0;
	}

	.product-price-new, .product-price-unit {
		font-size: 24px;
	}

	.product-price-old {
		font-size: 10px;
	}

	.row-offcanvas-left.active {
    	left: 50%;
	}


	.row-offcanvas-left {
	    left: 0;
	}

	.row-offcanvas {
	    position: relative;
	    -webkit-transition: all .25s ease-out;
	    -o-transition: all .25s ease-out;
	    transition: all .25s ease-out;
	}

	.sidebar-offcanvas {
	    position: absolute;
	    top: 0;
	    width: 50%;
	}

	.row-offcanvas-left .sidebar-offcanvas {
	    left: -50%;
	}

	.image-slider {
		padding: 15px;
	}


/******************* BUTTONS (MAX-WIDTH: 767px) *******************/

	.btn-cart {
		position: absolute;
    	top: -49px;
    	right: 15px;

	}

	.btn-buy {
		margin-top: 15px;
		width: 100%;
	}


}


/* Small devices (tablets, 768px and up) */
@media all and (min-width: 768px) {

	.navbar-brand {
		font-size: 1.5em;
	}

	.navbar-form {
		position: relative;
		float: left;
		width: auto;
		left: auto;
		padding: 0;
	}

	.navbar-lower {
	
		margin-top: -20px;
		

		#rg-navbar {
			padding-left: 0;
		}

		.nav > li > a:first-child {
			padding-left: 0;
		}
	}

	.price-total {
		width: 100px;
		text-align: right;
		margin-left: 0;
	}

	.product-prices {
		margin-top: 5px;
	}

	.product-price-new, .product-price-unit{
		font-size: 23px; 

	}

	.product-price-old {
		font-size: 13px;

	}

	.product-desc {
		margin-top: -95px;
		padding-left: 5px;

	}

	.inspiration-wrapper {
		margin-bottom: 80px;
	}

	.inspiration-header {
		font-size: 20px;
	}

	.inspiration-row {
		display: table;
	    table-layout: fixed;
	    height: 100%;
	}

	.inspiration-box-wrapper {
		padding-left: 0;
		display: table-cell;
		height: 100%;
		float: none;
	}

	.inspiration-box {
		height: 100%;
	}

	.inspiration-box-1 {
		margin-bottom: 0;
	}

	.bestseller-wrapper {
		padding: 60px 0 0 30px;

	}

	.social-media-wrapper {
		padding: 60px 0px 0 60px;
	}

}


/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) { 

	.navbar-brand {
		font-size: 36px;
	}

	.navbar-form {
		position: absolute;
	    width: 100%;
	    left: 0;
	    text-align: center;
	    margin:8px auto;
	    z-index: -1;
	}

	.product-desc {
		margin-top: -165px;
	}

	.bestseller-wrapper {
		padding-left: 50px;

	}

	.social-media-wrapper {
		padding-left: 50px;
	}

	.footer-copyright {
		
	}

	.contact-info {
		text-align: left;
		padding-left: 30px;
	}

	.author-email {
		text-align: right;
		padding-right: 30px;
	}
}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.product-desc {
		margin-top: -230px;
	}

	.bestseller-wrapper {
		padding-left: 90px;

	}

	.social-media-wrapper {
		padding-left: 90px;
	}
}

